<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7486f4">  <td>21/02/05 17:27:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MT.beforeClass()[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 17:27:37</td>   <td>1024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 17:27:48</td>   <td>12102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_02(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">TC_DD_Baby_02</td> 
  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 17:27:55</td>   <td>19434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 17:27:56</td>   <td>20633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 17:27:56</td>   <td>20635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_03(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">TC_DD_Baby_03</td> 
  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 17:27:56</td>   <td>20653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 17:27:56</td>   <td>20725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 17:27:56</td>   <td>20726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_04(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">TC_DD_Baby_04</td> 
  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 17:27:56</td>   <td>20735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 17:27:56</td>   <td>20804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 17:27:56</td>   <td>20808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_05(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">TC_DD_Baby_05</td> 
  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 17:27:56</td>   <td>20817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1139814130</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/02/05 17:27:56</td>   <td>20819</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MT.afterClass()[pri:0, instance:com.dollardays.testcases.babytestcase@6bbe85a8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
