<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:24:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_01(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_01</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:24:59</td>   <td>16772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_02(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_02</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:25:15</td>   <td>33220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_03(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_03</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:25:30</td>   <td>48622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_04(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_04</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:25:47</td>   <td>64671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_05(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_05</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:26:04</td>   <td>82661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_06(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_06</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:26:20</td>   <td>98621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_07(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_07</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:26:38</td>   <td>116378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_08(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_08</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:26:55</td>   <td>133343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_09(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_09</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:27:13</td>   <td>151306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_10(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_10</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:27:30</td>   <td>168301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_11(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_11</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/02/05 23:27:39</td>   <td>176901</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MT.afterClass()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/02/05 23:24:31</td>   <td>-10932</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MT.beforeClass()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:24:47</td>   <td>4790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:05</td>   <td>22970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:20</td>   <td>38289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:36</td>   <td>54276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:54</td>   <td>72268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:10</td>   <td>88303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:28</td>   <td>106095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:46</td>   <td>123783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:27:03</td>   <td>140846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:27:20</td>   <td>158462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:27:38</td>   <td>175928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:24:32</td>   <td>-10067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:24:49</td>   <td>6749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:06</td>   <td>23891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:21</td>   <td>39377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:37</td>   <td>55401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:55</td>   <td>73297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:11</td>   <td>89298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:29</td>   <td>107060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:46</td>   <td>124665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:27:04</td>   <td>141865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:27:21</td>   <td>159361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
</table>
