<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7486f4">  <td>21/02/05 23:24:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MT.beforeClass()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:24:32</td>   <td>865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:24:42</td>   <td>10932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_01(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_01</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:24:47</td>   <td>15722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:24:49</td>   <td>17681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:24:59</td>   <td>27704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_02(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_02</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:05</td>   <td>33902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:06</td>   <td>34823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:25:15</td>   <td>44152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_03(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_03</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:20</td>   <td>49221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:21</td>   <td>50309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:25:30</td>   <td>59554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_04(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_04</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:36</td>   <td>65208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:37</td>   <td>66333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:25:47</td>   <td>75603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_05(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_05</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:54</td>   <td>83200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:25:55</td>   <td>84229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:26:04</td>   <td>93593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_06(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_06</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:10</td>   <td>99235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:11</td>   <td>100230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:26:20</td>   <td>109553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_07(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_07</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:28</td>   <td>117027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:29</td>   <td>117992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:26:38</td>   <td>127310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_08(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_08</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:46</td>   <td>134715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:26:46</td>   <td>135597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:26:55</td>   <td>144275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_09(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_09</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:27:03</td>   <td>151778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:27:04</td>   <td>152797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:27:13</td>   <td>162238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_10(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_10</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:27:20</td>   <td>169394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:27:21</td>   <td>170293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/05 23:27:30</td>   <td>179233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_11(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_11</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/05 23:27:38</td>   <td>186860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/02/05 23:27:39</td>   <td>187833</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MT.afterClass()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
</table>
